.navbar, ul, #test-id_103, #test-id_104, #test-id_105  {
	margin-bottom: 0;
	background-color: rgb(0, 255, 0);
  color: gray;
  border-bottom-color: rgb(0, 255, 0);
}

.navbar {
	padding: 20px;
}

.navbar-brand {
	font-size: 3em;
}

#test-id_103, #test-id_104, #test-id_105  {
	font-size: 1.5em;
}

body {
	padding-top: 90px;
	background-color: rgb(200, 200, 200);
}

.jumbotron {
	margin: 0;
	background-color: rgb(100, 200, 250);
	padding: 30px;
}

.jumbotron h1 {
	font-size: 7em;
}

#caption1 {
	font-size: 3em;
}



.row1, .row1y, .row2, .row2y {
  clear: both;
	background-color: rgb(50, 120, 170);
}

.row2, .row2y {
	padding: 10px;
  background-color: rgb(0, 200, 250);
}

.row7, .row7y {
	padding: 10px;
  background-color: rgb(0, 0, 255);
}

.carousel-inner img {
  margin: auto;
}

.list-group {
	border-radius: 1em;
	padding: 10px;
}

.list-group-item {
	background-color: rgb(0, 180, 250);
	border-color: rgb(0, 200, 255);
	border-width: medium;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
	color: rgb(0, 50, 100);
	font-weight: bold;
}


/*
.row1, .row1y {
	background-color: rgb(50, 250, 150)
}
*/



.row3, .row3-1 {
  clear: both;
	background-color: rgb(0, 0, 230);
}

.row3y, .row3-1y {
	padding: 10px;
  background-color: rgb(0, 0, 255);
}

.row3, .row3-1, .row3y {
	padding: 10px;
  background-color: rgb(0, 0, 255);
}

#row1_thumbnail1, #row1_thumbnail2, #row2_thumbnail1, #row2_thumbnail2 {
	background-color: transparent;
	border-color: transparent;
}

/*
.row5 {
	padding: 10px;
}
*/

/*
.row1, .row2, .row3, .row3-1, .row5 {
	background-color: rgb(40, 205, 140);
}
*/

#row3_col1 {
	/* background-color: rgb(0,215,215); */
  padding: 0px;
}

#row3_col2 {
  /* background-color: rgb(0,225,225); */
  padding: 0px;
}

#row3_col3 {
  /* background-color: rgb(0,235,235); */
  padding: 0px;
}

#row3_col4, #row3_col4x {
  /* background-color: rgb(0,245,245); */
  padding: 0px;
}

/*
.starter-template {
  padding: 40px 15px 0px 0px;
  text-align: center;
}
*/

.caption h2{
	font-size: 5em;
}

.row1_glyph1, .row1_glyph2, .row1_glyph3 {
	font-size: 100px;
}

.btn, .btn-primary, .jax, #row3_col4 {
	background-color: rgb(0, 50, 230);
	padding: 30px;
	padding-left: 60px;
	padding-right: 60px;
}

.caption p {
	font-size: 1.25em;
}

.page3 p {
	font-size: 1.5em;
}
