.navbar, ul, #test-id_103, #test-id_104, #test-id_105  {
	margin-bottom: 0;
	background-color: rgb(20, 255, 100);
  color: gray;
  border-bottom-color: rgb(20, 255, 100);
}

.navbar {
	padding: 20px;
}


body {
	padding-top: 90px;
	background-color: rgb(200, 200, 200);
}


.row1 {
  clear: both;
	background-color: rgb(0, 0, 150);
}

.row1y {
	padding: 10px;
  background-color: rgb(0, 0, 175);
}

.row2 {
  clear: both;
	background-color: rgb(0, 0, 190);
}

.row2y {
	padding: 10px;
  background-color: rgb(0, 0, 210);
}

.row3, .row3-1 {
  clear: both;
	background-color: rgb(0, 0, 230);
}

.row3y, .row3-1y {
	padding: 10px;
  background-color: rgb(0, 0, 255);
}

#row1_thumbnail1, #row1_thumbnail2, #row2_thumbnail1, #row2_thumbnail2 {
	background-color: transparent;
	border-color: transparent;
}

/*
.row5 {
	padding: 10px;
}
*/

/*
.row1, .row2, .row3, .row3-1, .row5 {
	background-color: rgb(40, 205, 140);
}
*/


#row3_col1 {
  background-color: rgb(0,215,215);
  padding: 10px;
}

#row3_col2 {
  background-color: rgb(0,225,225);
  padding: 10px;
}

#row3_col3 {
  background-color: rgb(0,235,235);
  padding: 10px;
}

#row3_col4 {
  background-color: rgb(0,245,245);
  padding: 10px;
}


.starter-template {
  padding: 40px 15px 0px 0px;
  text-align: center;
}
