@charset "utf-8";

/* Access web fonts */

@import url('https://fonts.googleapis.com/css?family=Muli|PT+Sans|PT+Sans+Narrow|Roboto');

/*
@font-face {
  font-family: muli;
  src:
    url("fonts/muli.ttf"),
}

@font-face {
  font-family: PT_Sans;
  src:
    url("fonts/PT_Sans/PT_Sans-Web-Regular.ttf"),
}

@font-face {
  font-family: PT_Sans_Narrow;
  src:
    url("fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf"),
}

@font-face {
  font-family: Roboto;
  src:
    url("fonts/Roboto/Roboto-Regular.ttf"),
}
*/

/* Main Structure */
body {
  background-color: rgb(90, 210, 200);
  margin: 2% 1% 1% 1%;
}

/* Title */
#title {
  font-family: "Times New Roman", calibri;
  background-color: rgb(70, 250, 200);
  padding: 15% 18% 15% 18%;
  background-image: url("");
  text-align: center;
  font-size: 5em;
  margin: 0% 0% 1% 0%;
}

/* Main */
#contents1 {
  /* margin: 2% 1% 1% 1%; */
  background-color: rgb(70, 250, 220); /* white */
}

/* Section 1 */
#section1 {
  margin: 3% 0% 1% 0%;
}

#section1_1text {
  background-color: rgb(70, 250, 220); /* white */
  font-size: 130%;
  line-height: 130%;
  width: 40%;
  float: left;
  margin: 5% 2.5% 5% 5%;
  font-family: 'PT Sans';
}

#section1_2image {
  width: 45%;
  float: left;
  margin: 0% 0% 2.5% 2.5%;
}

#section1_2image1 {
  margin-top: 0%;
}

#section1_2image2 {
  margin-top: 8%;

}

#section1_2image3 {
  margin-top: 8%;

}


/* Section 2 */
#contents2 {
  margin: 4% 0% 0% 0%;
  background-color: rgb(70, 200, 220);
}

#section2 {
  /*
  background-color: rgb(70, 200, 220);
  margin: 0% 0% 0% 0%;
  */
}

#section2_1image {
  background-color: rgb(70, 200, 220);
  width: 45%;
  float: left;
  margin: 2.5% 0% 0% 5%;
}

#section2_1image1, #section2_1image2 {
  margin: 0% 0% 0% 0%;
}

#section2_1image3 {
  margin: 7% 0% 0% 0%;
}

#section2_2text {
  background-color: rgb(70, 200, 220); /* white */
  font-size: 1.8em;
  line-height: 2.5em;
  width: 40%;
  float: right;
  margin: 0% 5% 0% 2.5%;
  font-family: 'Muli';
}

.section-clear {
  clear: both;
}

/* Navigation */
#navigation {
  clear: both;
}

hr {
  color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  border-color: rgb(200, 200, 200);
  width: 80%;
  height: 1px;
  clear: both;
  margin-top: 3%;
}

ul {

}

li {
  text-align: center;
  float: left;
  margin: 0 6% 1% 6%;
  list-style: none;
  font-family: 'Roboto';
}

/* Links */
a {
  color: rgb(100, 100, 100);
  text-decoration: none;
  text-transform: uppercase;
}

a:link {

}

a:active {

}

a:hover {

}

a:visited {

}

@media (min-width: 961px) and (max-width: 1200px) {
  #title {
    font-size: 2.3em;
    color: black ;rgb(220, 230, 180)
  }

  #section1 {
    padding-left: 0%;
    margin-left: 0%;
  }

  #section1_1text, #section2_2text {
    font-size: 1.3em;
    line-height: 2.0em;
    float: left;
    width: 44%;
    padding-top: 1%;
    margin: 3% 0% 3% 5%;
  }

  #section2_2text {
    padding-top: 2%;
    margin: 0% 0% 3% 5%;
  }

  /*
  #section2_2text {
    line-height: 1.7em;
  }
  */

  #section1_2image, #section2_1image {
    float: left;
    width: 44%;
    margin-top: 5%;
  }

  #section1_2image1, #section1_2image2, #section1_2image3 {
    margin-top: 4%;
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image1 {
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image3 {
    padding-bottom: 5%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image {
    margin-left: 3.5%;
  }

  #section2_1image3 {
    padding-bottom: 6%;
  }

  #section2_1image1, #section2_1image2, #section2_1image3 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 4%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image1 {
    padding-top: 0%;
  }

  #section2_2text {
    margin: 0% 1% 0% 4%;
    padding-bottom: 0%;
  }

  li {
    text-align: center;
    font-size: 1.2em;
    float: none;
    margin: 0% 0% 3% 0%;
  }

  #li3 {
    margin-bottom: 3.5%;
  }
}

@media (min-width: 1201px) { /*and (max-width: 1440px)  */
  #title {
    font-size: 3.0em;
    color: black ;rgb(250, 250, 150)
  }

  #section1 {
    padding-left: 0%;
    margin-left: 0%;
  }

  #section1_1text, #section2_2text {
    font-size: 1.5em;
    line-height: 2.3em;
    float: left;
    width: 44%;
    padding-top: 1%;
    margin: 3% 0% 3% 5%;
  }

  #section2_2text {
    padding-top: 2%;
    margin: 0% 0% 3% 5%;
  }

  /*
  #section2_2text {
    line-height: 1.7em;
  }
  */

  #section1_2image, #section2_1image {
    float: left;
    width: 44%;
    margin-top: 5%;
  }

  #section1_2image1, #section1_2image2, #section1_2image3 {
    margin-top: 4%;
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image1 {
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image3 {
    padding-bottom: 5%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image {
    margin-left: 3.5%;
  }

  #section2_1image3 {
    padding-bottom: 6%;
  }

  #section2_1image1, #section2_1image2, #section2_1image3 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 4%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image1 {
    padding-top: 0%;
  }

  #section2_2text {
    margin: 0% 1% 0% 4%;
    padding-bottom: 0%;
  }

  li {
    text-align: center;
    font-size: 1.4em;
    float: none;
    margin: 1% 0% 3% 0%;
  }

  #li3 {
    margin-bottom: 3.0%;
  }
}
