@charset "utf-8";

/* Access web fonts */

/*
@import url('https://fonts.googleapis.com/css?family=Muli|PT+Sans|PT+Sans+Narrow|Roboto');
*/

@import "desktop.css";

@media (min-width: 481px) and (max-width: 670px) {
  #title {
    font-size: 2.0em;
    color: black ;rgb(150, 150, 150)
  }

  #section1 {
    padding-left: 0%;
    margin-left: 0%;
  }

  #section1_1text, #section2_2text {
    font-size: .9em;
    line-height: 1.0em;
    float: none;
    width: 91%;
    padding-top: 1%;
    margin: 5% 1% 4% 5%;
  }

  #section1_2image, #section2_1image {
    float: none;
    width: 93%;
    margin-top: 0%;
  }

  #section1_2image1, #section1_2image2, #section1_2image3 {
    margin-top: 2%;
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image1 {
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image3 {
    padding-bottom: 5%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image {
    margin-left: 3.5%;
  }

  #section2_1image1, #section2_1image2, #section2_1image3 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 4%;
    /*float: none;
    width: 90%;*/
  }

  #section2_2text {
    margin: 0% 1% 5% 4%;
    padding-bottom: 2%;
  }

  li {
    text-align: center;
    font-size: 1.0em;
    float: left;
    margin: 0% 8% 3% 8%;
  }

  #li3 {
    margin-bottom: 4.5%;
  }
}

@media (min-width: 670px) and (max-width: 960px) {
  #title {
    font-size: 2.0em;
    color: black; rgb(200, 200, 150)
  }

  #section1 {
    padding-left: 0%;
    margin-left: 0%;
  }

  #section1_1text, #section2_2text {
    font-size: 1.1em;
    line-height: 1.3em;
    float: none;
    width: 91%;
    padding-top: 1%;
    margin: 5% 0% 3% 5%;
  }

  #section1_2image, #section2_1image {
    float: none;
    width: 93%;
    margin-top: 0%;
  }

  #section1_2image1, #section1_2image2, #section1_2image3 {
    margin-top: 2%;
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image1 {
    margin-left: 2%;
    /*float: none;
    width: 90%;*/
  }

  #section1_2image3 {
    padding-bottom: 5%;
    /*float: none;
    width: 90%;*/
  }

  #section2_1image {
    margin-left: 3.5%;
  }

  #section2_1image1, #section2_1image2, #section2_1image3 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 4%;
    /*float: none;
    width: 90%;*/
  }

  #section2_2text {
    margin: 0% 1% 5% 4%;
    padding-bottom: 2%;
  }

  li {
    text-align: center;
    font-size: 1.0em;
    float: left;
    margin: 0% 10% 3% 10%;
  }

  #li3 {
    margin-bottom: 4.5%;
  }
}
